extends layout

block content
  h1= title
  - let image_names = ["zero.jpg", "one.jpg", "two.jpg", "three.jpg", "four.jpg"]
  - for (var i=0; i<3;i++) {
      - let x = Math.floor(Math.random()*5);
      img(src=`/images/${image_names[x]}`, alt="", height="300", width="300")
  - }